/*
 * Palette
 */
$blue-nl      : #4B6EA8; 
$dark-blue-nl : #315A9A; 
$dark-gray    : #686868; 
$medium-gray  : #A7A7A7; 
$light-gray   : #D6D6D6;
$lighter-gray : #ECECEC;

/*
 * Fonts
 */
$font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;